body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black;
}

/* HEADER     //////////////////////////////////////////////////////////////////////////////////////////////////*/

.header .container_header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    background-color: #000;
    opacity: 80%;
    margin: auto;
    z-index: 90;

    /* border: 20px solid red; */
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0;
    width: 60%;
    align-items: center;
    opacity: 100%;
    /* border: 3px solid blue; */
}
 
li a {
    text-decoration: none;
    color: aqua;
}

.barra-v{
    height: 60%;
    width: 1px;
    background-color: rgb(255, 255, 255);
}
  
h1 a {
    color: aquamarine;
    text-decoration: none;
}

.container_button{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    /* border: 3px solid blue; */
}

.btn{
    background-color: aqua;
    color: #000;
    font-size: 15px;
    font-weight: 1000;
    border-radius: 20px;
    width: 30%;
    height: 60%;
}


/* INDEX     //////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module{
    margin-bottom: 40px 0;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
}

section.module.content{
    padding: 40px 0;
    background-color: #ece7d5;
}

section.module.paralax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.paralax:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
}

section.module.paralax-1{
    background-image: url(https://wallpaperaccess.com/full/763131.jpg);
}

section.module.paralax-2{
    background-image: url(https://images.hdqwalls.com/wallpapers/sea-side-4k-h1.jpg);
}

section.module.paralax-3{
    background-image: url(https://images.hdqwalls.com/wallpapers/sea-side-4k-h1.jpg);
}

section.module.paralax h1{
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

/* .container_glassmorphism{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 80px;
    color: white;

    transform: translate (-50%,-50%);
    background-color: transparent;
    backdrop-filter: blur(10px);
} */

/* FOOTER    //////////////////////////////////////////////////////////////////////////////////////////////////*/