body{
    margin: 0;
    padding: 0;
    overflow: none;
    box-sizing: border-box;
}

@font-face{
    font-family: vintageQueens;
    src: url(../img/VintageQueens-PersonalUse.ttf);
}

@font-face{
    font-family: gill-sans-ultra-bold-regular;
    src: url(../img/GillSansUltraBold.ttf);
}

::-webkit-scrollbar {

    float: left;
    top: -1px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece{
    position: absolute;
    background-color: transparent;
    
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(243, 8, 86);
    border-radius: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
   -webkit-border-radios: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.items{
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.wrapper{
    /* display: grid;
    place-items: center; */
    height: 100vh;
    width: 100vw;
    background-color: #065c54;
}



.item{
    flex: none;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.header .container_header{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    position: relative;
    left: 0;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

ul li{
    display: inline-block;
    /* padding: 5px; */
}

ul li a{
    text-decoration: none;
    /* padding: 5px 0; */
    display: inline-block;
    /* margin: 15px 10px; */
    color: white;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

ul li a:hover{
    border-bottom: 3px solid white;
}

.diferent{
    color: aqua;
    cursor: pointer;
}

.diferent:hover{
    border-bottom: 3px solid aqua;
}

  
h1 a {
    color: aquamarine;
    text-decoration: none;
}

#title {
    animation: action 2s;
}

@keyframes action {
    from {
        transform: translateY(100px)
    }
    to{
        transform: translateY(0px);
    }

}

.barra-v{
    width: 1px;
    height: 60%;
    background-color: white;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.menu{
    width: 0;
    height: 100vh;
    /* top: 15vh; */
    left: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 200;
    transition: 0.5s;
    list-style: none;
    color: #313d47;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

    border-radius: 15px 0px 0px 15px;

    background: rgba(0, 255, 136, 0.1);
    overflow: hidden;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(8px);
}
 
.menu.fechar{
    position: absolute;
    top: 0;
    /* right: 25px;
    font-size: 36px; */
}

.abrir{
    right: 100;
    top: 30vh;
    height: 40vh;
    /* width: 700px; */
    display: flex;
    cursor: pointer;
    background-color: #2ba99d;
    align-items: center;
    justify-content: center;
    border: none;
    position: fixed;
    z-index: 200;
}

.abrir:hover {
    background-color:#250c84;
    transform: translateZ(50px);
}

.menu li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

li a:hover{
    border-bottom: 3px solid white;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.wrapper_home{
    width: 100vw;
    margin: 0 auto;
    display: flex;
}

main{
    display: flex;
}

.container{
    display: flex;
    width: auto;
    max-height: 100vh ;
    /* margin: 0 auto; */
    /* padding: 0 50px; */
    float: left;
}

section.module{
    margin-bottom: 40px 0;
}

/* .titulo{
    font-family: vintageQueens;
    font-size: 15em;
    color: rgb(255, 208, 0);
    font-weight: 50;
} */

section.module:last-child{
    margin-bottom: 0;
}

/* section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
} */

section.module.content{
    display: grid;
    height: 100vh;
    /* padding: 40px 0; */
    /* line-height: 40px; */
    /* background-color: #313d47; */
    /* color: rgb(171, 238, 238); */
}

section.module.paralax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.paralax:after{
    content: '';
    height: 100%;
    width: 100vw !important;
    position: absolute;
    z-index: 8;

    background: -moz-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
}

section.module.paralax-1{
    background-image: url(https://wallpaperaccess.com/full/6430337.jpg);
}


section.module.paralax-2{
    background-image: url(https://media4.giphy.com/media/3oz8xur099boo4N9aU/giphy.gif);
}

section.module.paralax-3{
    background-image: url(https://i.pinimg.com/736x/fc/4f/27/fc4f273880214d3cc7375f14a89aedf5.jpg);
}

section.module.paralax-4{
    background-image: url(https://c.tenor.com/8KLkpFEcAhgAAAAC/swimming-coral-reef.gif);
}


section.module.paralax h1{
    text-align: center;
    z-index: 50;
    font-family: vintageQueens;
    font-size: 15em;
    color: rgb(4, 90, 90);
    font-weight: 50;
    /* mix-blend-mode:hard-light; */
    animation: hue-animation 0.7s alternate infinite;
}


/* Inicio Contexto Historico /////////////////////////////////////////////// br anos 60 //////////////////////////////// */
.barra_geral_1{
    left: 50%;
    top: 92%;
    width: 50%;
    height: 4px;
    position: absolute;
    /* transform: translate(-300px); */
    background-color: #f3a81b;
    z-index: 2000;
}

.barra_geral_2{
    left: 50%;
    top: 92%;
    width: 100%;
    height: 4px;
    position: absolute;
    transform: translate(-750px);
    background-color: #f3a81b;
    z-index: 2000;
}

.barra_geral_3{
    right: 60%;
    top: 92%;
    width: 40%;
    height: 4px;
    position: absolute;
    /* transform: translate(-300px); */
    background-color: #f3a81b;
    z-index: 2000;
}

.banner_br_60 {
    position: sticky;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    background-color: #065c54;
    color: #f3a81b;
}

.banner_br_60 .container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 40%;
    height: 100%;
    flex-wrap: wrap;
    padding-top:100px;
}

.banner_br_60 .container .content1{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    align-items:center ;
    width: 80%;
    height: auto;
    font-size: 20px;
    justify-content: space-evenly;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
}

.banner_br_60 .container .barra_c1{
    width: 30%;
    height: 1px;
    background-color: #f3a81b;
}

.banner_br_60 .container .content2{
    /* border: 2px solid red; */
    padding-top: 20px;
    width: 60%;
    height: 400px;
    font-size: 5em;
    font-family: gill-sans-ultra-bold-regular;
}

.banner_br_60 .container .p1{
    /* flex-direction: column; */
    float: right;
    /* border: 2px solid red; */
    font-family: 'Source Code Pro', monospace;
    font-size: 17.8px;
    padding-top: 5px;
    width: 30%;
    height: 400px;
    color: #f5d8a3;
}

.banner_br_60 .imgs{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    transform: translate(-55px);
}

.banner_br_60 .imgs img{
    /* object-fit: cover; */
    width: 100%;
    height: 90%;
    position: sticky;
}




.banner_br_60 .container_2{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 50%;
    /* height: 100%; */
    flex-wrap: wrap;
    /* padding-top:100px; */
}

.banner_br_60 .container_2 .p2{
    /* border: 2px solid red; */
    font-family: 'Source Code Pro', monospace;
    font-size: 23px;
    padding-top: 30px;
    /* padding-left: 30px; */
    width: 80%;
    height: 100%;
    color: #f5d8a3;
    text-align: justify;
}

.banner_br_60 .imgs_2{
    padding-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76%;
    transform: translate(-420px);
}

.banner_br_60 .imgs_2 img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}


.banner_br_60 .container_3{
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    width: 45%;
    transform: translate(-300px);
}

.banner_br_60 .container_3 .p3{
    /* border: 2px solid red; */
    font-family: 'Source Code Pro', monospace;
    font-size: 22px;
    padding-top: 10px;
    width: 100%;
    /* height: 100%; */
    color: #f5d8a3;
    text-align: justify;
}

.banner_br_60 .imgs_3{
    padding-top: 10px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    transform: translate(-180px);
}

.banner_br_60 .imgs_3 img{
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper_card{
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
    z-index: 300;
    pointer-events: all;

    /* background: #313d47; */
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg"); */
}

/* .wrapper_card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.wrapper_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
} */

.container_card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container_card .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container_card .card .content_card{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

.container_card .card:hover .content_card {
    transform: translateY(0px);
    opacity: 1;
}

.container_card .card .content_card h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
}

.container_card .card .content_card h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container_card .card .content_card p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container_card .card .content_card a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}