body{
    margin: 0;
    padding: 0;
    overflow: none;
    box-sizing: border-box;
}

@font-face{
    font-family: vintageQueens;
    src: url(../img/VintageQueens-PersonalUse.ttf);
}

::-webkit-scrollbar {

    float: left;
    top: -1px;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece{
    position: absolute;
    background-color: transparent;
    
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(243, 8, 86);
    border-radius: 10px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    display: none;
   -webkit-border-radios: 10px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.items{
    display: flex;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.wrapper{
    /* display: grid;
    place-items: center; */
    height: 100vh;
    width: 100vw;
    background-color: #065c54;
}



.item{
    flex: none;
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    pointer-events: none;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.header .container_header{
    display: flex;
    height: 100vh;
    justify-content: space-evenly;
    position: relative;
    left: 0;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

ul li{
    display: inline-block;
    padding: 5px;
}

ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

ul li a:hover{
    border-bottom: 3px solid white;
}

.diferent{
    color: aqua;
    cursor: pointer;
}

.diferent:hover{
    border-bottom: 3px solid aqua;
}

  
h1 a {
    color: aquamarine;
    text-decoration: none;
}

#title {
    animation: action 2s;
}

@keyframes action {
    from {
        transform: translateY(100px)
    }
    to{
        transform: translateY(0px);
    }

}

.barra-v{
    width: 1px;
    height: 60%;
    background-color: white;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.menu{
    width: 0;
    height: 100vh;
    /* top: 15vh; */
    right: 0;
    overflow-x: hidden;
    position: fixed;
    z-index: 200;
    transition: 0.5s;
    list-style: none;
    color: #313d47;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

    border-radius: 15px 0px 0px 15px;

    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;

    border-top: 1px solid rgba(255, 255, 255, 0.5);
    /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
    backdrop-filter: blur(10px);
}
 
.menu.fechar{
    position: absolute;
    top: 0;
    /* right: 25px;
    font-size: 36px; */
}

.abrir{
    right: 0;
    top: 40vh;
    display: flex;
    cursor: pointer;
    background-color: #000;
    align-items: center;
    justify-content: center;
    border: none;
    position: fixed;
    z-index: 200;
}

.abrir:hover {
    background-color:#444;
    transform: translateZ(50px);
}

.menu li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

li a:hover{
    border-bottom: 3px solid white;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.wrapper_home{
    width: 100vw;
    margin: 0 auto;
    display: flex;
}

main{
    display: flex;
}

.container{
    display: flex;
    width: auto;
    max-height: 100vh ;
    margin: 0 auto;
    padding: 0 50px;
    float: left;
}

section.module{
    margin-bottom: 40px 0;
}

/* .titulo{
    font-family: vintageQueens;
    font-size: 15em;
    color: rgb(255, 208, 0);
    font-weight: 50;
} */

section.module:last-child{
    margin-bottom: 0;
}

/* section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
} */

section.module.content{
    display: grid;
    height: 100vh;
    /* padding: 40px 0; */
    /* line-height: 40px; */
    /* background-color: #313d47; */
    /* color: rgb(171, 238, 238); */
}

section.module.paralax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.paralax:after{
    content: '';
    height: 100%;
    width: 100vw !important;
    position: absolute;
    z-index: 8;

    background: -moz-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: -webkit-linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: linear-gradient(to right, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
}

section.module.paralax-1{
    background-image: url(https://wallpaperaccess.com/full/6430337.jpg);
}


section.module.paralax-2{
    background-image: url(https://media4.giphy.com/media/3oz8xur099boo4N9aU/giphy.gif);
}

section.module.paralax-3{
    background-image: url(https://i.pinimg.com/736x/fc/4f/27/fc4f273880214d3cc7375f14a89aedf5.jpg);
}

section.module.paralax-4{
    background-image: url(https://c.tenor.com/8KLkpFEcAhgAAAAC/swimming-coral-reef.gif);
}


section.module.paralax h1{
    text-align: center;
    z-index: 50;
    font-family: vintageQueens;
    font-size: 15em;
    color: rgb(4, 90, 90);
    font-weight: 50;
    /* mix-blend-mode:hard-light; */
    animation: hue-animation 0.7s alternate infinite;
}

/* section.module.content h4{
    text-align: left;
    width: 20vw;
    height: 20vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #f3a81b;
    border: #f3a81b solid 2px;
    /* font-weight: 50; */
    /* mix-blend-mode:hard-light; */
    /* animation: hue-animation 0.7s alternate infinite; */


/* /////////////////////////////////////////////// br anos 60 //////////////////////////////// */
.wrapper_br60{
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}

/* .titulo_br{
    display: flex;
    flex-direction: column;
} */

.titulo_br60{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: normal;
    width: 20vw;
    height: 60vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
    color: #f3a81b;
    border: #f3a81b solid 2px;
}

.texto_br60{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    float: right;
    line-height: normal;
    width: 10vw;
    height: 60vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #f3a81b;
    border: #f3a81b solid 2px;
}

.cabecalho_br60 h4{
    text-align: left;
    width: 20vw;
    height: 20vh;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #f3a81b;
    border: #f3a81b solid 2px;
}

.texto_br60_imgs{
    display: flex;
    width: 60vw;
    height: 100vh;
    border: #f3a81b solid 2px;
}

.titulo_br60_1{
    width: 400px;
    height: 200px;
}

.titulo_br60_2{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    z-index: 200;
}

.titulo_br60_3{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    z-index: 300;
}

/* section.module.content p{
    float: right;
    text-align: left;
    width: 100px;
    height: 1000px;
    font-family: Source Code Pro;
    font-size: 1.5em;
    color: #f3a81b;
    font-weight: 50;
    mix-blend-mode:hard-light;
    animation: hue-animation 0.7s alternate infinite;
} */

/* 
@keyframes hue-animation{
    100%{
        filter: hue-rotate{360deg};
    }
} */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.wrapper_card{
    display: flex;
    place-items: center;
    height: 100%;
    width: 100%;
    z-index: 300;
    pointer-events: all;

    /* background: #313d47; */
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/500/442/354/outrun-vaporwave-hd-wallpaper-preview.jpg"); */
}

/* .wrapper_card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f00, #f0f);
    clip-path: circle(30% at right 70%);
}

.wrapper_card::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
} */

.container_card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
}

.container_card .card{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.container_card .card .content_card{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    cursor: pointer;
}

.container_card .card:hover .content_card {
    transform: translateY(0px);
    opacity: 1;
}

.container_card .card .content_card h2{
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.05);
}

.container_card .card .content_card h3{
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}

.container_card .card .content_card p{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

.container_card .card .content_card a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}