body{
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

html{
    scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black;
}

::-webkit-scrollbar {
    width: 10px;
    height: 30vh;
}
  
  ::-webkit-scrollbar-thumb {
    background-color: #000;
    opacity: 70%;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #313d47;
  }

/* HEADER     //////////////////////////////////////////////////////////////////////////////////////////////////*/

.header .container_header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: fixed;
    z-index: 100;
    background: linear-gradient(rgba(0,0,0,0.7), transparent);
}

.navbar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
}

ul li{
    display: inline-block;
    padding: 5px;
}

ul li a{
    text-decoration: none;
    padding: 5px 0;
    display: inline-block;
    margin: 15px 10px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.25 ease-in-out;
}

ul li a:hover{
    border-bottom: 3px solid white;
}

.diferent{
    color: aqua;
    cursor: pointer;
}

.diferent:hover{
    border-bottom: 3px solid aqua;
}

  
h1 a {
    color: aquamarine;
    text-decoration: none;
}

#title {
    animation: action 2s;
}

@keyframes action {
    from {
        transform: translateY(100px)
    }
    to{
        transform: translateY(0px);
    }

}

.barra-v{
    width: 1px;
    height: 60%;
    background-color: white;
}

/* INDEX     //////////////////////////////////////////////////////////////////////////////////////////////////*/
.wrapper{
    width: 100%;
    margin: 0 auto;
}

main{
    display: block;
}

.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
}

section.module{
    margin-bottom: 40px 0;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(12, 211, 211);
}

section.module.content{
    padding: 40px 0;
    line-height: 40px;
    background-color: #313d47;
    color: rgb(171, 238, 238);
}

section.module.paralax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.paralax:after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;

    background: -moz-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 48%, #000 100% );
}

section.module.paralax-1{
    background-image: url(https://www.teahub.io/photos/full/91-915856_sunset-gif.gif);
}

section.module.paralax-2{
    background-image: url(https://media4.giphy.com/media/3oz8xur099boo4N9aU/giphy.gif);
}

section.module.paralax-3{
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/1773825158301775599/F42F686D9B9364C227453953F8334AE34C6D47CE/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
}

section.module.paralax-4{
    background-image: url(https://c.tenor.com/8KLkpFEcAhgAAAAC/swimming-coral-reef.gif);
}


section.module.paralax h1{
    text-align: center;
    font-size: 78px;
    z-index: 50;
    text-transform: uppercase;
}

/* .container_glassmorphism{
    width: 90%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    border-radius: 80px;
    color: white;

    transform: translate (-50%,-50%);
    background-color: transparent;
    backdrop-filter: blur(10px);
} */

/* SLIDER  INICIO //////////////////////////////////////////////////////////////////////////////////////////////////*/

.banner{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.slides{
    display: flex;
    width: 400%;
    height: 400px;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
    height: 100%;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;

    border: red solid 2px;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:Last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked~ .first{
    margin-left: 0;
}

#radio2:checked~ .first{
    margin-left: -25%;
}

#radio3:checked~ .first{
    margin-left: -50%;
}

#radio4:checked~ .first{
    margin-left: -75%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    margin-top: 360px;
    justify-content: center;

    border: red solid 2px;
}

.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto div:not(:Last-child){
    margin-right: 40px;
}

#radio1:checked~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked~ .navigation-auto .auto-btn4{
    background-color: white;
}

/* SLIDER FIM //////////////////////////////////////////////////////////////////////////////////////////////////*/

/* FOOTER    //////////////////////////////////////////////////////////////////////////////////////////////////*/

.footer .container_footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: aquamarine;
}

/* MENU ///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.menu{
    display: none;
    height: 40vh;
    width: 30%;
    background-color: #000;
    position: absolute;
    z-index: 200;
    top: 20vh;
    right: -30%;
}